/**
Planning Biblio

Fichier : themes/bsg/bsg.css
@author Jérôme Combes <jerome.combes@biblibre.com>

Description :
Feuille de style personnalisée pour la Bibliothèque Sainte Geneviève

Incluse dans les fichiers include/header.php et setup/header.php
*/

.status_chef_d_equipe,
.statut_chef_d_equipe,
.statut_chef_magasinier,
.statut_chefs_magasiniers,
.statut_magasinier_en_chef,
.statut_magasiniers_en_chef,
.status_chef_d_equipe > td > .menudiv-nom,
.statut_chef_d_equipe > td > .menudiv-nom,
.statut_chef_magasinier > td > .menudiv-nom,
.statut_chefs_magasiniers > td > .menudiv-nom,
.statut_magasinier_en_chef > td > .menudiv-nom,
.statut_magasiniers_en_chef > td > .menudiv-nom{
  font-weight: bold;
}

