/**
Planning Biblio

Fichier : themes/bsg/bsg.css
@author Jérôme Combes <jerome@planningbiblio.fr>

Description :
Feuille de style personnalisée pour la Bibliothèque Sainte Geneviève

Incluse dans les fichiers include/header.php et setup/header.php
*/

/* Rose clair #e7154c
 * Rose foncé #c81242 => Rouge : #992135
 * Rose pale #e7d3d8
 * Rose texte #C03 ; => Rouge : #992135
 * Jaune : #F2E311
 * Gris foncé #3b3937
 */

body,a,input,select,textarea,button {
  color:#000;
  font-family: arial, helvetica, sans-serif;
  font-size:15px;
}

input,select,textarea {
  font-size:13px;
}

body {
  background: #FFF;
}

#topgauche {
  background: #FFFFFF;
  color : #FFFFFF;
  padding: 5px;
  margin: 15px 0;
  width: 100%;
}

#topgauche table tr:nth-child(2) {
  display: none;
}

#topgauche table tr:nth-child(1) {
  background: #992135;
}

#topgauche table tr:nth-child(1) td:nth-child(1) {
  width: 0px;
  margin-right: 200px;
}

#topgauche table tr:nth-child(3) {
  background: #992135;
  height: 35px;
}

h3{
  font-size:14pt;
}

#auth, #auth input {
  color:#222;
}

#auth-logo{
  width:400px;
  height:96px;
  background:url("images/logo200.png") no-repeat right top;
}

#logo {
  left: 5px;
  top: 5px;
  width:150px;
  height:153px;
  background-color: #ffffff;
  background-image: url("images/logo-150.png");
  z-index: 0;
  display: block;
}

#logo2 {
  color:#A82F0B;
}

#logout_img {
  padding-right: 7px;
}

#content{
  padding: 120px 5px 5px 5px;
}

#ferie,.ferie,.important {
  color: #992135;
}

.menu_table td {
  border: 1px outset #992135;
}

.menu_table tr:first-child td {
  border-top: 1px outset #992135;
}

.ejsmenu2 {
  color: #FFFFFF;
}

.ejsmenu2:hover {
  color: #FFFFFF;
}

a.ejsmenu {
  color: #3b3937;
}

a.ejsmenu:hover {
  color: #FFF;
}

.menu_li a, .menu_li a:hover{
  font-size:12pt;
  font-weight : bold;
}

/* TD du menu top */
li.menu_li:hover {
  background:#992135;
}

/* TD des sous menu top */
.menu_table {
  margin-top: 12px;
}

.menu_table td {
  border: none;
}

td.menu_td2 {
  background-color: #d7d7d7;
  height:25px;
  text-align:left;
  padding-left: 24px;
  color: #5c5956;
}

td.menu_td2:hover{
  background-color: #e9e9e9;
}

td.menu_td2 a:hover{
  color: #dc244e;
}

.myAccountLink{
  font-size:10pt;
  color: #000000;
}

.myAccountLink:hover{
  color: #e7154c;
}

.th{
  background-color:#992135;
  color: #FFF;
}

.th td{
  padding: 8px 5px;
}

.tr1{
  background-color:#e7d3d8;
}

#planningTips {
  color: #EF6C6C;
}

.menudiv-nom {
  font-weight: normal;
}

.status_chef_d_equipe,
.statut_chef_d_equipe,
.statut_chef_magasinier,
.statut_chefs_magasiniers,
.statut_magasinier_en_chef,
.statut_magasiniers_en_chef,
.status_chef_d_equipe > td > .menudiv-nom,
.statut_chef_d_equipe > td > .menudiv-nom,
.statut_chef_magasinier > td > .menudiv-nom,
.statut_chefs_magasiniers > td > .menudiv-nom,
.statut_magasinier_en_chef > td > .menudiv-nom,
.statut_magasiniers_en_chef > td > .menudiv-nom{
  font-weight: bold;
}

.tr_horaires, .tr_separation, .tr_horaires a{
  background: #992135;
  height : 30px;
}

/* tr_espace : permet d'ajouter un espace entre les tableaux : ex: display:block; height:20px; */
.tr_espace{
  display: block;
}

.td_postes {
  color: #3b3937;
}
.tr_horaires .td_postes {
  color: #FFFFFF;
}

.td_obligatoire{
  background: #d7d7d7;
}

.menudiv-titre{
  font-family: arial, helvetica, sans-serif;
}

#tab_titre{	/* planning/poste/index.php */
  padding-left : 185px;
}

/* Calendrier affiché en haut des plannings */
#pl-calendar{
  z-index: 20;
  display: block;
  position: absolute;
  top: 70px;
}

#content-planning #pl-calendar .ui-datepicker {
  font-size:85%;
}

#pl-calendar .ui-datepicker a{
  font-size:110%;
}

#statedweek #pl-calendar {
  margin-left: 192px;
}

#statedweek .title {
  text-align: center;
}

#statedweek-header, #stateweek-header {
    margin-bottom: 20px;
}

/* Notes affichées en bas des plannings */
#pl-notes-div1, .pl-notes-div1{
  border : 1px solid #992135;
}

.menu {
  color : #3b3937;
  font-family: arial, helvetica, sans-serif;
}

.menuRed {
  color:#992135;
  font-family: arial, helvetica, sans-serif;
}

a:hover.menuRed, a:hover.menu {
  color:#992135;
}

.menu2 {
  color:#992135;
  font-family: arial, helvetica, sans-serif;
}

.menu2Red {
  font-family: arial, helvetica, sans-serif;
}

.right {
  color:#992135;
  font-family: arial, helvetica, sans-serif;
}

.text,.text_clic {
  font-family: arial, helvetica, sans-serif;
}

.titre {
  font-family: arial, helvetica, sans-serif;
}

.titreSemFixe{
  color:#992135;
  font-family: arial, helvetica, sans-serif;
}

#tab_jours{	/*	planning/poste/index.php	*/
  margin : 5px auto 0px auto;
  text-align:center;
}

.tr {
  font-family: arial, helvetica, sans-serif;
}

.cellule_grise {
  background: #d5d5d5;
}

/*	Messages d'informations		*/
#messages_infos {
  color:#DF3838;
}

#choix_tableaux {
  margin: 100px 15px 0;
}

#tableau, .tableau{
  margin-top : 30px;
}

/*	DataTables */
.dataTable tbody tr.odd {
  background-color: #e7e7e7;
}

.dataTable tbody tr.odd td.sorting_1,
.dataTable tbody tr.odd td.sorting_2,
.dataTable tbody tr.odd td.sorting_3{
  background-color: #d7d7d7;
}

.dataTable tbody tr.even td.sorting_1,
.dataTable tbody tr.even td.sorting_2,
.dataTable tbody tr.even td.sorting_3{
  background-color: #e7e7e7;
}

/*	Footer	*/
.footer{
  background : #992135;
  opacity : 1;
  color: #ffffff;
  padding : 10px 3px;
}

.footer a {
  color: #ffffff;
}

.dataTables_length label,
.dataTables_filter label,
.dataTables_wrapper
.dataTables_info {
  color: #ffffff;
}

.vert.tr_horaires, .ab.tr_horaires,
.vert.tr_horaires a,
.vert.tr_separation, .ab.tr_separation {
  background: #3b772e;
}

#date_planning,
.titreSemFixe div b{
  color: #3b772e;
}

.bg-yellow{
  background:transparent;
}
